.Body{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.background_content{
    position: relative;
    z-index: 20;
}

.background::before{
    position: absolute;
    content: '';
    background-image: url("SOURCE/Fond.jpg");
    margin: 0;
    filter: blur(10px);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    z-index: 19;
}


.ban{
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    background-color:rgb(219, 219, 219);
    padding: 30px;
    z-index: 1000;
    box-shadow: 2 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;

}

.button{
    background-color: #0071e3;
    transition: background-color 0.3s;
    color: white;
    border-radius: 25px;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    margin: 6px;
    font-family: Arial, Helvetica, sans-serif;

}

.button:hover {
    background-color: #005bb5;
    box-shadow: 0 4px 10px;
}

.button:active {
    background-color: #e0e0e0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}





/* ne pas copier en dessous */ 





.container {
    display: flex; /* créer une disposition en colonnes */
    justify-content: center; /* Centre les colonnes horizontalement */
    margin-top: 100px; /* Espace entre la bannière et les colonnes */
    width: 50%;
    margin-left: auto; /* Centrer le conteneur */
    margin-right: auto; /* Centrer le conteneur */
    z-index: 28;
    font-family: Arial, Helvetica, sans-serif;
}

.column {
    flex: 1; /* Chaque colonne prend une part égale de l'espace disponible */
    margin: 0 10px; /* Espacement entre les colonnes */
    background-color: white; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 28;
}

.image {
    width: 100%; /* L'image s'adapte à la largeur de la colonne */
    border-radius: 5px; /* Coins arrondis pour l'image */
    z-index: 28;
}
